UpgradeLog*.htm*
*.suo
Backup*
CPPCheckPlugin/bin
CPPCheckPlugin/obj
CPPCheckPlugin.csproj.user
storage.ide
packages
**/*csprojAssemblyReference.cache
**/*TemporaryGene*
**/*.exe
**/*.pdb
**/*.cache
**/*csproj*
/**/*.db*
/**/*.dll
/**/*sqlite3*
/**/*bin*
/**/*ipch
/**.config*
/**/*.config
